* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg-color: #e3ffe6; 
    --text-color: #ffffff; 
    --main-color: #6b7280;
    --other-color: #334155;
    --big-font: 4.3rem;
    --h2-font: 2.2rem;
    --p-font: 1rem;
}

body {
    color: var(--text-color);
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    background: var(--bg-color);
    padding: 20px;
    text-align: center;
}

header .logo img {
    height: 60px;
}

.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 500px;
    background: #f7f9fb;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 170px;
    margin-top: 40px;
}

.auth-container h2{
    font-weight: 500;
}
.form-container {
    width: 100%;
}

.form-title {
    font-size: var(--h2-font);
    color: var(--other-color);
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: var(--p-font);
    color: var(--other-color);
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: var(--p-font);
    color: #0F172A;;
    border: 1px solid var(--main-color);
    border-radius: 5px;
}

.btn {
    display: inline-block;
    width: 100%;
    padding: 12px 0;
    background:#0F172A;
    color: var(--bg-color);
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 5px;
    transition: all .45s ease;
    cursor: pointer;
    text-align: center;
    border: none;
    margin-bottom: 10px;
}

.btn:hover {
    letter-spacing: 2px;
    opacity: 0.8;
}

.form-switch {
    font-size: var(--p-font);
    color: var(--other-color);
}

footer {
    background: var(--main-color);
    color: var(--text-color);
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.contact {
    background: #f7f9fb;
    color: #334155;
    padding: 40px 0;
    text-align: center;
    width: 100%;
    border-top: 1px solid #d1d5db;
}

.main-contact {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-content {
    margin-bottom: 20px;
}

.contact-content h5 {
    font-size: 1.25rem;
    color: #1e293b;
    margin-bottom: 10px;
    font-weight: bold;
}

.contact-content li {
    margin: 5px 0;
}

.contact-content li a {
    color: #334155;
    font-size: 1rem;
    transition: color 0.3s;
}

.contact-content li a:hover {
    color: #1e293b;
}

.end-text {
    background: #e3ffe6;
    color: #6b7280;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #d1d5db;
    font-size: 0.875rem;
}


#show-signup:hover{
    text-decoration: underline;

}

#show-login:hover{
    text-decoration: underline;

}
